
body {
}

#login .logo {
    text-align: center;
    padding-bottom: 20px;


}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a {
    color: darkred;
    text-decoration: underline;
}