
@{
    ViewBag.Title = "Index";

    // Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";

    Layout = "~/Views/Login/DangNhap.cshtml";

}

@*<h2>Index</h2>*@



<style>
    HTML, BODY {
        cursor: url("../../../../Animation/diamondblue.ani"), url("../../../../Animation/diamondblue.gif"), auto;
    }
</style>
<style>
    A:hover {
        cursor: url("../../../../Animation/diamondblue.ani"), url("../../../../Animation/diamondblue.gif"), auto;
    }
</style>

