.col1 {
    height: 5%;
}

.col2 {
    height: 15%;
}
.col3 {
    height: 10%;
}

.col4 {
    height: 12%;
}
.col5 {
    height: 7%;
}

.col6 {
    height: 7%; 
}
.col7 {
    height: 9%;
}

.col8 {
    height: 5%;
}
.col9 {
    height: 10%;
}

.col10 {
    height: 10%;
}
.col11 {
    height: 10%;
}
